In [31]:
import sklearn
print(sklearn.__version__)

1.2.1

### 모델링 전 거쳐야 하는 과정
* 전처리 후에 모델링을 하게 됨
* 전처리, 피처엔지니어링, 스케일링, 인코딩 등의 단계들을 완료한 후에 모델링 시작 전 train, test 데이터로 분리

### 용어정리

* 피처엔지니어링:
* 스케일링:
* 인코딩:

In [32]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [33]:
import pandas as pd

In [34]:

iris=load_iris()

In [35]:
iris_data=iris.data

In [36]:
iris_data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [37]:
iris_label=iris.target

In [38]:
iris_label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [39]:
iris_df=pd.DataFrame(data=iris_data,columns=iris.feature_names)
iris_df['y']=iris.target

In [40]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

### 학습용 데이터(train data), 테스트용 데이터(test data) 분리
* 학습 데이터로 학습된 모델의 성능을 평가하기 위해 test data 필요
* -사이킷런에서 제공되는 trin_test_split() API 사용
* test(데이터 분할 가능), test_size(크기 조정 가능)
* 직접 train, test data의 데이터 비중 설정 가능

In [41]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [42]:
# 데이터 분리
X_train, X_test, y_train, y_test=train_test_split(iris_data,iris_label,test_size=0.3,random_state=111)
#test_size: 전체 데이터에서의 비중을 뜻함
#random_state: 섞는 개념

In [43]:
X_train

array([[5.5, 2.6, 4.4, 1.2],
       [6.9, 3.1, 4.9, 1.5],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.8, 1.6, 0.2],
       [5.7, 2.9, 4.2, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [6. , 2.7, 5.1, 1.6],
       [5.7, 3.8, 1.7, 0.3],
       [6.1, 2.9, 4.7, 1.4],
       [4.5, 2.3, 1.3, 0.3],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.5, 4.5, 1.7],
       [4.9, 3.1, 1.5, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [6. , 3. , 4.8, 1.8],
       [5.5, 2.5, 4. , 1.3],
       [5.9, 3. , 4.2, 1.5],
       [5.9, 3. , 5.1, 1.8],
       [5.4, 3.9, 1.7, 0.4],
       [6.4, 3.2, 4.5, 1.5],
       [7.7, 3.8, 6.7, 2.2],
       [7.2, 3. , 5.8, 1.6],
       [5.2, 3.5, 1.5, 0.2],
       [6.2, 3.4, 5.4, 2.3],
       [5.1, 3.8, 1.9, 0.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.4, 2.7, 5.3, 1.9],
       [5.5, 2.4, 3.8, 1.1],
       [6.9, 3.2, 5.7, 2.3],
       [6.8, 3.2, 5.9, 2.3],
       [6.6, 3. , 4.4, 1.4],
       [6. , 2.2, 4. , 1. ],
       [6.4, 2.8, 5.6, 2.1],
       [6.1, 2.8, 4. , 1.3],
       [6.5, 3. , 5.8, 2.2],
       [5. , 3.5, 1.6, 0.6],
       [7.7, 3. , 6.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 2.5, 3.9, 1.1],
       [6.1, 2.6, 5.6, 1.4],
       [6.3, 3.3, 6. , 2.5],
       [4.6, 3.1, 1.5, 0.2],
       [6.3, 2.8, 5.1, 1.5],
       [5.6, 2.8, 4.9, 2. ],
       [4.9, 3. , 1.4, 0.2],
       [5.6, 2.9, 3.6, 1.3],
       [6.1, 3. , 4.6, 1.4],
       [6.3, 2.5, 4.9, 1.5],
       [5. , 2.3, 3.3, 1. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.5, 3. , 5.5, 1.8],
       [4.8, 3. , 1.4, 0.3],
       [5.6, 2.7, 4.2, 1.3],
       [4.6, 3.4, 1.4, 0.3],
       [5.8, 2.6, 4. , 1.2],
       [6.4, 2.8, 5.6, 2.2],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 3.2, 5.3, 2.3],
       [7.7, 2.8, 6.7, 2. ],
       [5. , 3.3, 1.4, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.9, 4.3, 1.3],
       [5.1, 3.5, 1.4, 0.3],
       [5. , 3.6, 1.4, 0.2],
       [5.8, 2.7, 5.1, 1.9],
       [7.4, 2.8, 6.1, 1.9],
       [5.2, 2.7, 3.9, 1.4],
       [4.4, 3. , 1.3, 0.2],
       [6.2, 2.9, 4.3, 1.3],
       [6.3, 2.5, 5. , 1.9],
       [4.4, 3.2, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [6.3, 2.9, 5.6, 1.8],
       [4.7, 3.2, 1.6, 0.2],
       [5.7, 2.8, 4.1, 1.3],
       [6.2, 2.2, 4.5, 1.5],
       [6.5, 3. , 5.2, 2. ],
       [7.3, 2.9, 6.3, 1.8],
       [7. , 3.2, 4.7, 1.4],
       [4.3, 3. , 1.1, 0.1],
       [5.6, 3. , 4.1, 1.3],
       [5.4, 3.4, 1.5, 0.4],
       [6. , 2.9, 4.5, 1.5],
       [6.9, 3.1, 5.1, 2.3],
       [4.9, 3.6, 1.4, 0.1],
       [6.5, 2.8, 4.6, 1.5],
       [5.1, 3.7, 1.5, 0.4],
       [5.8, 4. , 1.2, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [6.8, 3. , 5.5, 2.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [5. , 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [5.6, 3. , 4.5, 1.5],
       [5.1, 3.8, 1.5, 0.3],
       [6.7, 3.1, 4.7, 1.5],
       [6.7, 2.5, 5.8, 1.8],
       [5.4, 3. , 4.5, 1.5]])

In [44]:
X_test

array([[5.1, 3.4, 1.5, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [7.2, 3.6, 6.1, 2.5],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3. , 5. , 1.7],
       [4.8, 3.4, 1.9, 0.2],
       [5.1, 3.5, 1.4, 0.2],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.3, 5.7, 2.5],
       [6.3, 3.3, 4.7, 1.6],
       [7.9, 3.8, 6.4, 2. ],
       [5.5, 3.5, 1.3, 0.2],
       [6. , 2.2, 5. , 1.5],
       [6.7, 3.3, 5.7, 2.1],
       [7.6, 3. , 6.6, 2.1],
       [5.7, 4.4, 1.5, 0.4],
       [6.2, 2.8, 4.8, 1.8],
       [4.9, 2.4, 3.3, 1. ],
       [5. , 3.2, 1.2, 0.2],
       [6.7, 3.1, 5.6, 2.4],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 3.1, 5.5, 1.8],
       [5.7, 2.8, 4.5, 1.3],
       [5.8, 2.7, 3.9, 1.2],
       [5.7, 2.5, 5. , 2. ],
       [5.1, 3.3, 1.7, 0.5],
       [5. , 3. , 1.6, 0.2],
       [5.9, 3.2, 4.8, 1.8],
       [4.7, 3.2, 1.3, 0.2],
       [6.3, 3.4, 5.6, 2.4],
       [4.6, 3.6, 1. , 0.2],
       [5.7, 3. , 4.2, 1.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.4, 3.9, 1.3, 0.4],
       [6.7, 3.1, 4.4, 1.4],
       [6.7, 3. , 5.2, 2.3],
       [7.1, 3. , 5.9, 2.1],
       [5.8, 2.7, 4.1, 1. ],
       [4.4, 2.9, 1.4, 0.2],
       [5.5, 2.3, 4. , 1.3],
       [5. , 2. , 3.5, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [6. , 3.4, 4.5, 1.6],
       [5.7, 2.6, 3.5, 1. ],
       [7.2, 3.2, 6. , 1.8]])

In [45]:
y_train

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 2, 0, 0, 2, 1, 1, 2, 0, 1, 2,
       2, 0, 2, 0, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 0, 2, 2, 0, 0, 1, 1, 2,
       2, 0, 2, 2, 0, 1, 1, 1, 1, 2, 2, 0, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2,
       1, 0, 0, 2, 2, 1, 0, 1, 2, 0, 0, 2, 0, 1, 1, 2, 2, 1, 0, 1, 0, 1,
       2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 0, 1, 2, 1])

In [46]:
y_test

array([0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 2, 0, 2, 2, 2, 0, 2, 1, 0, 2, 1, 2,
       1, 1, 2, 0, 0, 1, 0, 2, 0, 1, 0, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1,
       2])

### DecisionTree Model
* 주어진 input 값들의 조합에 대한 의사결정규칙(rule)에 따라 출력값을 예측하는 모형. 트리구조의 그래프로 표현.
* 다른 모델들에 비해 예측력은 떨어지나 해석은 뛰어남.
* regression tree, classification tree로 나뉨.

### regression tree(회귀나무)
* 출력변수가 연속형

### classification tree(분류나무)
* 출력변수가 범주형

In [47]:
df_clf=DecisionTreeClassifier(random_state=111)

### random_state
* 학습/테스트용 데이터 세트를 생성하기 위해 주어지는 난수 값
* 매번 분석할때마다 훈련/테스트셋이 변화하는걸 막기 위해 고정시키는 역할
* random_state에 특정 숫자를 입력하면, 해당 숫자를 입력하는 한 항상 같은 결과가 출력

In [48]:
df_clf.fit(X_train, y_train)
#x_train, y_train x 데이터와 x 데이더에 대응하는 y값

DecisionTreeClassifier(random_state=111)

In [49]:
#예측 진행
pred=df_clf.predict(X_test)

In [50]:
pred
#정답 출력--X_test값을 학습해 y값 에측

array([0, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 0, 1, 2, 2, 0, 2, 1, 0, 2, 1, 2,
       1, 1, 2, 0, 0, 2, 0, 2, 0, 1, 0, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1,
       2])

In [51]:
#정확도 측정
from sklearn.metrics import accuracy_score

In [52]:
print('DT 예측 정확도: {0:.3f}'.format(accuracy_score(y_test,pred)))
# y_test(기존의 정답)과 predO(예측값) 사이의 정확도 측정

DT 예측 정확도: 0.933

In [53]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [54]:
tt_df=titanic[['survived','pclass','sibsp','parch','fare']]

In [55]:
tt_df.isna().sum()

survived    0
pclass      0
sibsp       0
parch       0
fare        0
dtype: int64

In [56]:
tt_df.columns

Index(['survived', 'pclass', 'sibsp', 'parch', 'fare'], dtype='object')

In [57]:
tt_df_x=tt_df[['pclass','sibsp','parch','fare']]

In [58]:
tt_df_y=tt_df[['survived']]

In [59]:
#길이가 같은지 확인
len(tt_df_x)

891

In [60]:
len(tt_df_y)

891

In [61]:
X_train, X_test, y_train, y_test=train_test_split(tt_df_x, tt_df_y, test_size=0.3, random_state=111)

In [62]:
X_train

     pclass  sibsp  parch      fare
195       1      0      0  146.5208
150       2      0      0   12.5250
572       1      0      0   26.3875
134       2      0      0   13.0000
96        1      0      0   34.6542
..      ...    ...    ...       ...
275       1      1      0   77.9583
86        3      1      3   34.3750
724       1      1      0   53.1000
876       3      0      0    9.8458
852       3      1      1   15.2458

[623 rows x 4 columns]

In [63]:
y_train

     survived
195         1
150         0
572         1
134         0
96          0
..        ...
275         1
86          0
724         1
876         0
852         0

[623 rows x 1 columns]

In [64]:
X_test

     pclass  sibsp  parch      fare
374       3      3      1   21.0750
211       2      0      0   21.0000
258       1      0      0  512.3292
584       3      0      0    8.7125
461       3      0      0    8.0500
..      ...    ...    ...       ...
383       1      1      0   52.0000
719       3      0      0    7.7750
291       1      1      0   91.0792
432       2      1      0   26.0000
228       2      0      0   13.0000

[268 rows x 4 columns]

### 예측 진행

In [66]:
pred=df_clf.predict(X_test)

C:\Users\ros43\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [67]:
pred=df_clf.predict(X_test)

C:\Users\ros43\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [68]:
print('DT 예측 정확도: {0:.3f}'.format(accuracy_score(y_test,pred)))

DT 예측 정확도: 0.616

### accuracy_score(y_true, y_pred)
* 정확도 측정 함수
* 전체 샘플 중 맞게 예측한 샘플 수의 비율을 출력하며, 해당 출력값이 높을수록 좋은 모형이다.